.container{:style => "margin-top: 20px"}

    .row
        .col-sm-4.text-center
            %img.img-thumbnail{:src => "assets/Logo.png", :style => "background-color:lightgrey; padding:10px"}
        .col-sm-8
            //  Descizione del sito
            %span Questa è la descizione del sito

    .row{:style => "margin-top :50px"}
        //  Lista dei Dev
        -@listDev.each do |dev|
            .col-sm.border.border-dark.rounded{:style=>"margin:10px; padding:20px"}
                %div.text-center
                    %img.img-thumbnail{:src => dev[:pic], :style => "max-height: 100px; border-radius:50%"}
                %div.text-center{:style => "margin-top: 20px"}
                    .span{:style=>"background-color: red"} One of three columns
                %div.text-center{:style => "margin-top: 50px"}
                    =button_to(contact_path, method: :get, class:'btn btn-secondary', ) do
                        %span.fa.fa-envelope-o{:style=>'color: white; text-decoration: none; font-weight: bold'}
                        %span{:style=>'color: white; text-decoration: none; font-weight: bold'} Contact Developer