
-#Rende la pagina un container, per renderlo responsive
%div.container-fluid.mainContainer.displayContainer
    
    %h2{:style=>'margin-bottom: 50px;'} Create a new music

    -#class(contForm) in music.scss
    %div.container.contForm{:style=>'max-width: 600px'}
        = form_tag music_index_path, :method => :post do

            -#class(insertText) in music.scss || classi rounded, border-dark per mettere border nei campi text_field
            %div.form-group
                = label :music, :title, 'Title', style:"font-weight: bold"
                = text_field :music, :title, class:'form-control rounded border-dark insertText', required:'true'


            %div.form-group
                =label :music, :author, 'Author', style:"font-weight: bold"
                =text_field :music, :author, class:'form-control rounded border-dark insertText', required:'true'

            %div.form-group
                =label :music, :album, 'Album', style:"font-weight: bold"
                =text_field :music, :album, class:'form-control rounded border-dark insertText', required:'true'

            %div.form-group
                =label :music, :genre, 'Genre', style:"font-weight: bold"
                =select :music, :genre, ['Rock', 'Jazz', 'Metal', 'Pop', 'Electronic','Rap'], class:'form-control ', style:'max-width: 500px; margin-left:auto; margin-right:auto'

            %div.form-group
                =label :music, :year, 'Year', style:"font-weight: bold"
                =number_field :music, :year, class:'form-control rounded border-dark insertText', required:'true'

            =submit_tag 'Save Changes'
